AnyUserAuth {
  auth.impl.AnyUserAuthModule required debug=true;
};

OidcAuth {
    com.sigma.om.auth.oidc.OmOidcAuthModule required debug=true
    user.name="sub"
    user.fullName="sub"
    client-id="SigmaOrderManagerNET"
    client-secret="99XzaC8HcQD6VrLWXsSUpneQG1AALyXPqojG7IaWuv9k1bhBrkyHCpzzUdVjRA8i"
    redirect-uri="https://d-dev-om01.ip.tdk.dk:9022/cmn/completeSignIn"
    redirect-logout-uri="https://d-dev-om01.ip.tdk.dk:9022/signin"
    scope="openid,profile,roles"
    authorization-uri="https://fedtest.tdk.dk/as/authorization.oauth2"
    token-uri="https://fedtest.tdk.dk/as/token.oauth2"
    user-info-uri="https://fedtest.tdk.dk/idp/userinfo.openid"
    introspection-endpoint="https://fedtest.tdk.dk/as/introspect.oauth2"
    end-session-endpoint="https://fedtest.tdk.dk/idp/startSLO.ping"
    group-mapper-javascript-path="conf/oidcmapper.js"
    client-credential-user-name="sub"
    client-credentials-group-mapper-javascript-path="conf/clientcredentialsmapper.js"
    http-connect-timeout-ms="1000"
    http-read-timeout-ms="1000"
    http-read-size-limit="51200"
    jws-algorithm="RS256"
    jwe-algorithm="RSA-OAEP-256"
    jwe-encryption-enc="A256GCM"
    jwk-set-uri="https://fedtest.tdk.dk/ext/oauth/jwks/som";
};
