<html>
<body>
<h2>Register User </h2>
<form action="Register">
    <pre>
        Username : <input type="text" name="username" placeholder="Enter Username">
        Email : <input type="text" name="email" placeholder="Enter Email">
        Password : <input type="text" name="password" placeholder="Enter Password">
        <input type="submit" value="Register">
    </pre>
</form>

<h2>Sign in User</h2>
<form action="signin">
    <pre>
        Username : <input type="username" name="username" placeholder="Username">
        Password : <input type="password" name="password" placeholder="Password">

        <input type="submit" value="Login">
    </pre>
</form>
</body>
</html>